# Dependências do Node.js
*/node_modules/
*/package*.json
# Arquivos de log
*.log

.gitignore

src/pageCompras.html

# Arquivos de ambiente
.env
.env.*

# Diretórios de build
dist/
build/

# Arquivos de cache
.cache/
*.tmp

# Arquivos de configuração do editor
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos gerados pelo npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
